# Environment variables
PORT=3000
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"
JWT_EXPIRES_IN="1h"
JWT_SECRET="your_jwt_secret_key"
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
SMTP_USER=your_user
SMTP_PASS=your_pass
CLIENT_URL=http://localhost:5174